<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1682889762731-375a6b22d794?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHBvb2x8ZW58MHx8MHx8fDA%3D" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= listing.name %></h5>
    <p class="card-text"><%= listing.description %> - $<%= listing.price_per_hour %></p>
    <%= link_to "View Listing", listing_path(listing), class: "btn btn-primary" %>
  </div>
</div>
