<h1>Listings</h1>

<div class="container" data-controller="insert-in-list">

  <ul data-insert-in-list-target="items">
    <% @listings.each do |listing| %>
      <%= render "listings/listing", listing: listing %>
    <% end %>
  </ul>

  <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">
      Create New Listing
    </button>

    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "form", listing: @listing %>
    </div>
  </div>
</div>
