<h1>Listings</h1>

<div class="container" data-controller="insert-in-list">
  <div class="row g-4" data-insert-in-list-target="items">
    <% @listings.each do |listing| %>
      <div class="col-sm-4">
        <%= render "listings/listing", listing: listing %>
      </div>
    <% end %>
  </div>
</div>



  <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">
      Create New Listing
    </button>

    <div data-toggle-target="togglableElement" class="d-none" >
      <%= render "form", listing: @listing %>
    </div>
  </div>
</div>
