<h1>My Listings</h1>

<% if @listings.any? %>
  <ul>
    <% @listings.each do |listing| %>
      <li>
        <strong><%= listing.name %></strong>
        <p><%= listing.description %></p>
        <p><%= link_to 'View', listing_path(listing) %> |
    <% end %>
  </ul>
<% else %>
  <p>You have not created any listings yet.</p>
<% end %>
