<h1><%= @listing.name %></h1>
<div class="card my-3">
  <div class="card-body">
        <p class="card-text me-3">Address: <%= @listing.address %></p>
        <p class="card-text me-3">Description: <%= @restaurant.description %></p>
        <p class="card-text me-3">Address: <%= @listing.price %></p>
    </div>
  </div>
