.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-button {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  background-color: rgb(246, 194, 194);
  border-radius: 24px;
  font-weight: bold;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar-button:hover {
  background-color:  rgb(242, 151, 151);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
