.navbar-lewagon {
  justify-content: space-between;
  background: #fad2e0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-button {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  background-color: #ed4b82;
  border-radius: 24px;
  font-weight: bold;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar-button:hover {
  background-color:  #f178a1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.navbar-logo-wrapper {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navbar-logo-wrapper:hover {
  background-color: #f178a1;
  border-radius: 24px;
  padding: 3px 6px;
  margin: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px)
}
